{% extends 'base.html.twig' %}

{% block title %}Edit Profil{% endblock %}

{% block body %}
    <h1>Edit Profil</h1>

    {{ include('profil/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('profil_index') }}">back to list</a>

    {{ include('profil/_delete_form.html.twig') }}
{% endblock %}
