{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <!-- /.container -->
    <div class="container">

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h1 class="mt-4">{{ article.titre }}</h1>

                <hr>

                <!-- Date/Time -->
                <p>Mis à jour le : {{ article.dateModification|date("d/m/Y", "Europe/Paris") }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded" src="https://medias.go-sport.com/wysiwyg/Catalogue_V2/Vitrines/Fitness/750x300_vitrine_rayon_fitness_training.png" alt="">

                <hr>

                <!-- Post Content -->
                {{ article.contenu|raw }}

                <hr>

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Tags</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">{{ article.tagsText }}</a>
                                    </li>
{#                                    <li>#}
{#                                        <a href="#">Musculation</a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="#">Gym</a>#}
{#                                    </li>#}
                                </ul>
                            </div>
{#                            <div class="col-lg-6">#}
{#                                <ul class="list-unstyled mb-0">#}
{#                                    <li>#}
{#                                        <a href="#">Santé</a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="#">Training</a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a href="#">Sport</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">ads Widget</h5>
                    <div class="card-body">
                        <img class="img-fluid rounded" src="https://static.fnac-static.com/multimedia/Images/32/32/C0/E5/15056946-1505-1540-1/tsp20200507122905/Bandes-de-Resistance-Set-Elastiques-Artizlee-Kit-de-11-Acceoires-Musculation-Bandes-de-Fitne-Exercice-Elastiques-Yoga-Pilates-G.jpg" alt="">

                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->


{% endblock %}
