{% extends 'base.html.twig' %}

{% block title %}Body visualizer{% endblock %}

{% block body %}

    <h1>Body visualizer</h1>

    <p>Modélisation du corps en 3D</p>

    <iframe src="https://bodyvisualizer.com/" style="height: 1000px; width: 1000px;background-color: transparent"></iframe>


{% endblock %}
