{% extends 'base.html.twig' %}

{% block title %}Edit IngredientRecette{% endblock %}

{% block body %}
    <h1>Edit IngredientRecette</h1>

    {{ include('ingredient_recette/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ingredient_recette_index') }}">back to list</a>

    {{ include('ingredient_recette/_delete_form.html.twig') }}
{% endblock %}
