{% extends 'base.html.twig' %}

{% block title %}article{% endblock %}
{% block menuarticle %}{% endblock %}
{% block body %}
    <h1>Nouvel article</h1><br>

    {{ include('article/_form.html.twig') }}

    <br>

    <a class="btn btn-secondary" href="{{ path('article_index') }}">Retour à la liste</a>
{% endblock %}
